.bg-color{
    background-color: #ffffff;
}
.font-color{
    color:rgb(41, 52, 45) ;
}

.sun-icon{
    color: chocolate;
}
.rain-fall {
    color: rgb(45, 43, 43);
}
.moon{
    color: rgb(76, 51, 99);
}
