.App {
  text-align: center;
  background-image: linear-gradient(to right, #c6e8f5, #d3d9db, #c6e8f5);
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: cover;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.err-msg {
  display: flex;
  justify-self: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(217, 215, 220);
  color: rgb(32, 33, 25);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}